<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pages Per Sheet</title>
  <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
  <div id="container">
    <h3>Pages per sheet</h3>
    <p>Print PDFs with multiple pages per sheet and cropped margins to maximize the content area.</p>
    <p>To get started, upload a PDF:</p>
    <br />
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="fileInput">
    </form>
    <br/><br/>

    <div id="loader" style="display:none"><br/><br/>
      <div id="spinner"></div><br/>
      <p>Uploading <span id="filename">file</span> and generating preview...</p>
      <p><button onclick="cancel()">cancel</button></p>
    </div>

    <script>
      function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
      }

      function cancel() {
        document.getElementById('fileInput').value = '';
        window.location.reload();
      }

      const dropArea = document.getElementById('container');
      dropArea.addEventListener('drop', (e) => {
        const fileInput = document.getElementById('fileInput');
        fileInput.files = e.dataTransfer.files;
        fileInput.dispatchEvent(new Event('change'));
      }, false);
      ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
      });

      document.getElementById('fileInput').addEventListener('change', function() {
        document.getElementById('loader').style.display = 'block';
        document.getElementById('filename').innerHTML = document.getElementById('fileInput').files[0].name;
        document.getElementById('uploadForm').submit();
      });
    </script>
  </div>

  <div>
    <h5>Why does this exist?</h5>
    <p>This tool lets you zoom pages before printing to maximize the content on each sheet.</p>
    <p>This way you can fit a lot more readable content on a sheet of paper when printing multiple pages per sheet.</p>
  </div>
</body>
</html>
