<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MaxPrint</title>
  <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
  <div id="container">
    <h2>MaxPrint</h2>
    <p>Print PDFs with multiple pages per sheet to remove margins and maximize content.</p>
    <p>To get started, upload a PDF:</p>
    <br />
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="fileInput">
    </form>
    <br/><br/>

    <div id="loader" style="display:none"><br/><br/>
      <div id="spinner"></div><br/>
      <p>Uploading <span id="filename">file</span> and generating preview...</p>
      <p><button onclick="cancel()">cancel</button></p>
    </div>

  </div>
  <br/>

  <div class="info">
    <h4>What this tool does</h4>
    <p>The "pages per sheet" feature in your print dialog keeps margins in the original file, so you're stuck with blank space and tiny fonts:</p>
    <p><img class="drawing" src="/static/img/before.svg" /></p>
    <p><b>MaxPrint</b> lets you zoom before printing to maximize content on each page:</p>
    <p><img class="drawing" src="/static/img/after.svg" /></p>
  </div>
  <script>
      function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
      }

      function cancel() {
        document.getElementById('fileInput').value = '';
        window.location.reload();
      }

      const dropArea = document.getElementById('container');
      dropArea.addEventListener('drop', (e) => {
        const fileInput = document.getElementById('fileInput');
        fileInput.files = e.dataTransfer.files;
        fileInput.dispatchEvent(new Event('change'));
      }, false);
      ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
      });

      document.getElementById('fileInput').addEventListener('change', function() {
        document.getElementById('loader').style.display = 'block';
        document.getElementById('filename').innerHTML = document.getElementById('fileInput').files[0].name;
        document.getElementById('uploadForm').submit();
      });
    </script>
</body>
</html>
