<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Print preview</title>
  <link rel="stylesheet" href="/static/css/preview.css">
  <script src="/static/js/render.js"></script>
</head>
<body>
  <div class="controls landscape center">
    <button class="button" onclick="window.location.href = '/'">Back</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Pages per sheet:
    <select id="pagespersheet">
      <option value="2" selected="selected">2</option>
      <option value="4">4</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    How much to crop each page:
    <input id="slider" type="range" min="0" max="100" value="0" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="button" onclick="print()" value="Print" />
    <br/>
  </div>
  <div class="landscape center">
    {% for image in images %}
    {% if loop.index0 % 2 == 0 %}<hr class="hr_{{ loop.index0 % 4}}"/>{% endif %}
    <div class="imgwrapper halfpage">
      <img src="data:image/png;base64,{{image}}" class="halfpage">
    </div>
    {% endfor %}
  </div>
  <script>
    const slider = document.getElementById("slider");
    const images = document.querySelectorAll("img");

    slider.addEventListener("input", () => {
      const scaleValue = 1 + slider.value / 400;  // Normalize slider value to 1-1.25 range
      images.forEach((image) => {
        image.style.transform = `scale(${scaleValue})`;
      });
    });

    document.getElementById("pagespersheet").addEventListener("change", (event) => {
      console.log(event.target.value);
      setPagesPerSheet(event.target.value);
    })

    window.addEventListener("load", () => setPagesPerSheet(2), false);
  </script>
</body>
</html>
